<%- include("../partials/header") %>
<head>
  <link rel="shortcut icon" href="../../public/download.png" type="image/x-icon">
</head>
<div class="container">
  <div class="jumbotron bg-danger text-light my-4 my-lg-5 py-3 " style="border-radius: 1rem;">
    <h3>Welcome to e-Store</h3>
  </div>
  <div class="row">
    <div class="card ml-5" style="width: 20rem">
      <img
        class="card-img-top"
        src="/mobiles-1.png"
        alt="Card image cap"
        height="300px"
      />
      <div class="card-body">
        <h5 class="card-title">Mobile Phones</h5>
        <p class="card-text">
          Show off with a brand new phone from trusted brands
        </p>
        <a href="/home/mobile" class="btn btn-dark">check here</a>
      </div>
    </div>
    <div class="card ml-5" style="width: 20rem">
      <img
        class="card-img-top"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNr0oPfbbdkb2ThcPj1jwoaaktMJepU2hYmQ&usqp=CAU"
        alt="Card image cap"
        height="300px"
      />
      <div class="card-body">
        <h5 class="card-title">Laptops</h5>
        <p class="card-text">
          Get exciting offers amazing Laptops
        </p>
        <a href="/home/laptop" class="btn btn-dark">check here</a>
      </div>
    </div>
    <div class="card ml-5" style="width: 20rem">
      <img
        class="card-img-top"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlV_u4rW3zWR8hhjqInMurfYYJw0MVKXH_bg&usqp=CAU"
        alt="Card image cap"
        height="300px"
      />
      <div class="card-body">
        <h5 class="card-title">Sports</h5>
        <p class="card-text">
          Gift your children with quality products from our Sports Section
        </p>
        <a href="/home/sport" class="btn btn-dark">check here</a>
      </div>
    </div>
    <div class="card ml-5" style="width: 20rem">
      <img
        class="card-img-top"
        src="https://rukminim1.flixcart.com/image/832/832/ko1smfk0/television/7/h/1/ua43aue60aklxl-ua43aue60aklxl-samsung-original-imag2hg7eyxgenwg.jpeg?q=70"
        alt="Card image cap"
        height="300px"
      />
      <div class="card-body">
        <h5 class="card-title">Television</h5>
        <p class="card-text">
          Enter the wast world of High Defenition
        </p>
        <a href="/home/Television" class="btn btn-dark">check here</a>
      </div>
    </div>
    
    <div class="card ml-5" style="width: 20rem">
      <img
        class="card-img-top"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYWxrGtogytlRgAXVAeFMY_B9X-BKVRlWtqg&usqp=CAU"
        alt="Card image cap"
        height="300px"
      />
      <div class="card-body">
        <h5 class="card-title">Smart Watch</h5>
        <p class="card-text">
          Get in shape with our smarter watches
        </p>
        <a href="/home/smartWatch" class="btn btn-dark">check here</a>
      </div>
    </div>
  </div>
</div>

<%- include("../partials/footer") %>
